:root {
    --red:#b90e31; --gold:#fabd0f; --blue:#002452;
}

html {
    overscroll-behavior: none;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
    background: var(--red);
    color: #fff;
}

header {
    background: var(--blue);
    color: #fff;
    padding: 0.5rem;
}

main {
    background: #fff;
    color: #1a1a1a;
    max-width: 900px;
    margin: 2rem auto;
    border-radius: 12px;
    padding: 1.5rem;
}

a {
    color: var(--blue);
}

h2 {
    color: var(--blue);
    font-size: 1.6rem;
}

p {
    font-size: 1rem;
}

.profile {
    border-radius: 12px;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contact-content {
    margin: 0;
    padding: 0 1rem;
    border-radius: 12px;
    background-color: var(--gold);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-content img {
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    margin: 0.5rem;
}

.contact-content p {
    display: none;
    /* transition: all 0.3s ease-in-out; */
    transition: 0.3s;
}

.contact-content:hover p {
    display: flex;
    transition: 0.3s;
}